{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% if title %}
  <title>Awards - {{ title }}</title>
  {% else %}
  <title>Awards</title>
  {% endif %}
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'instagram-home'%}">
        <img src="{% static 'img/th.jpeg' %}" width="96" height="96">
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div> <!-- Navbar Right Side -->
    <div id="navbarBasicExample" class="navbar-menu">
      <a href="{% url 'instagram-home'%}" class="navbar-item">Home</a>
      {% if user.is_authenticated %}
      <a class="navbar-item" href="{% url 'post-create' %}">Submit your site</a>
      <a class="navbar-item"  href="{% url 'profile' %}">Profile</a>
      <a class="navbar-item" href="{% url 'logout' %}">Logout</a>

      {% else %}
      <a class="navbar-item" href="{% url 'login' %}">Login </i>
      </a>
      <a class="navbar-item" href="{% url 'register' %}">Register</a>
      {% endif %}
    </div>
  </nav>
  {% block banner %}
  {% endblock %}
  <br>
  <br>
  <section class="section">
    <div class="container">
      <div class="col-md-12">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </section>
</body>
</html>