{% extends 'insta/base.html' %}
{% block content %}
{% load static %}
{{ block.super }}
<div class="columns is-mobile is-centered">
    <div class="column">
    {% for post in posts %}
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="{{ post.image.url }}" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img class="is-rounded" src="{{ post.author.profile.image.url }}" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">{{ post.author }}</p>
                    </div>
                </div>

                <div class="content">
                    <small>
                        <h3>{{ post.title }}</h3>
                    </small>
                    <br>
                    <p>{{ post.content }}</p>
                    <small><strong>{{ post.date_posted|date:"F d, Y" }}</strong></small>
                    <br>
                    <button><a href="{{ post.url }}">visit site</a></button> <button><a
                            href="{% url 'post-detail' post.pk %}">Review project</a></button>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}
    {% endblock content %}
</div>
</div>

