{% extends 'insta/base.html' %}
{% block content %}
<article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="{{ object.author.profile.image.url }}">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{ object.author }}</strong> 
          <br>
          <small>@{{ object.author }}</small> 
          <br>
          <div class="media-content is-center">
            <img src="{{ object.image.url }}" alt="">
          </div>
          <br>
          <h5>{{ object.title }}</h5>
          <br>
          <h6>{{ object.content }}</h6>
        </p>
        <small><strong>{{ object.date_posted|date:"F d, Y" }}</strong></small>
      </div>
     
                {% if object.author == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                </div>
                    
                {% endif %}
            </div>

{% endblock content %}
{{ object.content }}